.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }
}

.action { 
    padding: 0px 25px 20px;

    button {
        flex: 1;
    }
}

.mat-expansion-panel{
    box-shadow: none !important;
    border: 1px solid #e0e0e0;
}

/* .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
  } */

  .scrollable-div {
    height: 200px; /* set a fixed height for the div */
    overflow-y: scroll; /* enable vertical scrollbar */
  }